name: ci
on:
  push:
    branches:
      - "**"

defaults:
  run:
    # NOTE: A bit stricter than the default bash options used by GitHub Actions
    # (bash --noprofile --norc -e -o pipefail {0})
    shell: bash --noprofile --norc -euo pipefail {0}

# NOTE: Set concurrency for the current workflow to 1
concurrency: ci-${{ github.ref }}-${{ github.workflow }}

jobs:
  build-and-release:
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      - uses: capralifecycle/actions-lib/check-runtime-dependencies@93a3def017e46bbf9fd49179f4ce752283157c85 # v1.3.2

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18

      - uses: capralifecycle/actions-lib/configure-npm@93a3def017e46bbf9fd49179f4ce752283157c85 # v1.3.2

      - name: install dependencies
        run: npm ci

      - name: lint
        run: npm run lint

      - name: prepare
        run: npm run test

      - name: example project - npm pack
        run: npm pack

      - name: example project - npm ci
        working-directory: example
        run: npm ci

      - name: example project - npm install
        working-directory: example
        run: npm install --no-save ../liflig-cdk-cloudfront-auth-0.0.0-development.tgz

      - name: example project - npm test
        run: npm run test
        working-directory: example

      - name: conditionally semantic release
        if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.SHARED_NPMJS_TOKEN }}
        run: npm run semantic-release
